
<!DOCTYPE html>
<html>
<head>
	<title>Test page</title>
</head>
<body>
	<h1>Hey. I'm pro with this</h1>
	<p>I think <b>Chelsea</b> is the best</p>
	<p>Mason mount is the best 
		<br>Chelsea player this season</p>
	<img src="">
	<br><a href="https://chelseafc.com" target="_blank" title="Mene sinne">This is their website!!!</a>
</body>
</html>
